html, body {
 height: 100%;
 cursor: grab;

 -webkit-touch-callout: none;
 -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
 /*
 background: url('../images/3draintempo.png');
 background-repeat: no-repeat;
 background-size: 100% 100%;
 */
 overflow-x:hidden;
}

h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size: 60px;
}

p {
 font-family: 'Source Sans Pro', sans-serif;
 font-weight: 300;
 font-size: 21px;
}



.main-div, .row {
    height: 100%;
    position: relative;
    margin: 0px 50px;
}

.col-7 {
  height:50%;
}

.center-div{
  position: relative;
  left: 0px;
  top: 25%;
  margin-top: -50px; /* account for padding and border if not using box-sizing: border-box; */
}

.csharp-bar{ 
  background-color: purple;
}

.xaml-bar {
  background-color: #ADD8E6;
}

.js-bar {
  background-color: yellow;
  color:black;
}
.php-bar {
  background-color: #99a0c6;
}

.otherapi-bar {
}
