

html, body {
 height: 100%;
 cursor: grab;

 -webkit-touch-callout: none;
 -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
 /*
 background: url('../images/Backgrounds/Blurred backgrounds by Dreamstale (11).jpg');
 background-repeat: no-repeat;
 background-size: 100% 100%;
 */
 overflow-x: hidden;
 overflow-y: hidden;
}

.row{
}

h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size: 100%;
}

p {
 font-family: 'Source Sans Pro', sans-serif;
 font-weight: 300;
 font-size: 30%;
}

.main-div, .row {
    height: 100%;
    position: relative;
    margin: 0px 1rem;
}

.scrollable-column {
  font-size: 60px;
}

.center-div{
  position: relative;
  left: 0px;
  top: 25%;
  margin-top: -50px; /* account for padding and border if not using box-sizing: border-box; */
}

.csharp-bar{ 
  background-color: purple;
}

.xaml-bar {
  background-color: #ADD8E6;
}

.js-bar {
  background-color: yellow;
  color:black;
}
.php-bar {
  background-color: #99a0c6;
}

.otherapi-bar {
}

.main-title::after {
  content: "";
  display: block;
  width: 3.5rem;
  height: 0.05rem;
  background-color: rgba(0, 0, 0, 0.20);
}

.drag-div {
  position: absolute;
  margin-left: 60px;
  bottom: 20%;
  font-size: 60px;
}

.scrollable-column:nth-child(1n+2) { 
  opacity: 0;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
  body { 
  }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .row {
    flex-direction:column;
    font-size: 40px;
  }
  body {
    overflow-y: visible;
  }
  .scrollable-column:nth-child(1n+2) { 
      opacity: 1;
    }

  .drag-div {
    opacity: 0;
  }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
  
}
