html, body{
	overflow-x:hidden;
}
.container {
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

.headline {
    background: url('../images/background.jpeg');
    min-height:100%;
    height: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    color: white;
}
.main-title {
    font-family: 'Russo One', sans-serif;
}
/*
 * Extra utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.flex-equal > * {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }

.divider {
	margin-top: 3em;
	margin-bottom: 3em;
}

.whystapp {
	background-color: #222222;
	color: white;
	padding: 0em 0em 25px 0em;
}

.whystapp li{
	list-style-image: url('../images/tick.png');
}
.whystapp li{
	margin-bottom:10%;
	font-size:1.25rem;
	font-weight:100;
}

.btn-donate {
  background: #48d5ea;
  text-align: center;
  width: 179px;
  height: 179px;
  border-radius: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  color: white;
  font-weight: bold;
  text-decoration: none
  opacity: 1;
}

.btn-donate:hover{
	background:#F1F1F1;
}
